rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Coleção de Usuários - Leitura liberada para sincronização multi-dispositivo, gravação permitida
    match /usuarios/{userId} {
      allow read: if true;
      allow create, update, delete: if true;
    }

    // Coleção de Lançamentos de Médias de Combustível
    match /lancamentos/{lancamentoId} {
      allow read, write: if true;
    }
  }
}
